//- ============================================
//- ; Title: index.pug
//- ; Author: Professor Krasso
//- ; Date: September 6 2020
//- ; Modified By: Sarah Massie
//- ; Description: Making a Pug template
//- ;===========================================
html
  head
    title Pug Template
  body
    h2=message
  p Wow, this is so much easier than .ejs
  p Everyone should use this instead