<!DOCTYPE html>
<html lang="en">
  <%- include ("header") %>

  <body>
    
  <%- include ("navbar") %>
<header>
  <h1>Find Your 
    <br/>Employees
    <br/>All in One Place</h1>
  <div id="menu">
    <h2>Simple and intuitive record filing</h2>
      <p>Track all of your employee records in one easy to manage place.</p>
    <button class="btn">Sign Up</button>
  </div>
</header>

<section class="container">
<div class="row">
  <img src="../images/undraw_hire_te5y.png">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  Ut pharetra viverra posuere. Aliquam et molestie velit. 
  Curabitur cursus sit amet nisi nec aliquet. 
  Nam egestas accumsan lacus, non tincidunt ante fermentum quis. 
  Orci varius natoque penatibus et magnis dis parturient montes, 
  nascetur ridiculus mus. Aenean luctus lacus vitae molestie scelerisque. 
  In hac habitasse platea dictumst.</p>

    <p >In venenatis congue nunc, eu egestas sem convallis quis. 
  Donec hendrerit, tellus non finibus aliquet, orci neque faucibus sem, 
  vel blandit velit ex at ipsum. Sed eu laoreet diam. 
  Quisque pretium gravida leo id consequat. Nunc rutrum velit non vehicula volutpat. 
  Nullam malesuada, leo in sollicitudin suscipit, velit massa vehicula libero, 
  id euismod lectus nulla quis arcu. Aliquam nec dolor mollis, ornare nulla quis, 
  consequat augue. Suspendisse vel neque ornare, pharetra felis in, maximus diam. 
  Sed a dolor consequat, sodales ligula id, molestie ligula. 
  Aenean pretium ut nisl at tempus. Nullam nec tellus eu nunc iaculis euismod nec ac felis. 
  Fusce dui lorem, faucibus ut lorem id, tristique cursus urna. 
  Vivamus rhoncus luctus elit in congue. Phasellus consequat facilisis mauris, 
  tristique blandit erat efficitur nec.</p>

    <p>Aliquam ac tempus odio. Aliquam et sem molestie orci molestie convallis. 
  Aliquam erat volutpat. Sed efficitur non nulla vel hendrerit. 
  Nulla lacinia ex vel accumsan tincidunt. Donec eleifend dolor a tortor gravida interdum. 
  Donec venenatis lorem nec interdum tempor. Quisque finibus felis at vestibulum molestie. 
  Curabitur sed dictum elit. Nam mauris augue, tincidunt vitae nisl nec, consequat finibus lectus.</p>

    <p>Maecenas id justo venenatis, rutrum nulla maximus, egestas nunc. 
  Pellentesque tristique enim felis, ultrices laoreet nunc tempor rutrum. 
  Cras commodo et eros ac ultricies. Duis iaculis arcu dolor, a fermentum massa rhoncus vel. 
  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
  Phasellus dictum, lacus id mollis ultrices, nibh tellus feugiat metus, 
  eget congue libero eros sit amet lorem. Donec sit amet orci sit amet neque maximus feugiat a non lectus. 
  Integer rutrum risus et ligula congue, eu consectetur orci laoreet. 
  Pellentesque vitae volutpat ligula, in consectetur ex. Sed aliquet pellentesque bibendum. 
  Nunc maximus bibendum tempus. Curabitur dui quam, auctor sit amet tristique at, mattis sit amet ex. 
  In hac habitasse platea dictumst. Morbi tempus justo eu aliquet sollicitudin. 
  Sed sit amet turpis porta, tempus erat id, volutpat erat.</p>

  <p>Duis viverra, arcu vel ullamcorper ornare, lorem turpis mollis ante, nec consequat nibh leo at tellus. 
  Duis nec interdum nulla. Morbi quis est sodales, commodo urna et, elementum diam. Suspendisse potenti. 
  Interdum et malesuada fames ac ante ipsum primis in faucibus. In a odio in nisi ultricies vestibulum. 
  Donec eget mi quam. Praesent laoreet molestie massa quis viverra. Integer nec euismod augue. 
  Etiam at ligula tellus. Pellentesque porttitor dolor sit amet posuere tincidunt. 
  Vestibulum sit amet enim dignissim, molestie eros at, luctus purus. Cras finibus risus dolor, 
  a fringilla ex sagittis vitae. Sed consectetur, eros at feugiat gravida, sem justo tincidunt ligula, 
  sit amet imperdiet diam sapien ut mi.</p>
  </div>
</section>

    <% include ("scripts") %>

    <%- include ("footer") %>
    </body>
</html>