<!DOCTYPE html>
<html lang="en">
  <%- include ("header") %>

  <body>
    
  <%- include ("navbar") %>
<header>
  <h1>Find Your 
    <br/>Employees
    <br/>All in One Place</h1>
  <div id="menu">
    <h2>Simple and intuitive record filing</h2>
      <p>Track all of your employee records in one easy to manage place.</p>
    <button class="btn">Sign Up</button>
  </div>
</header>


    <% include ("scripts") %>

    <%- include ("footer") %>
    </body>
</html>