<!DOCTYPE html>
<html lang="en">
  <%- include ("header") %>

  <body>
    <%- include ("navbar") %>
  <section id="list">
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>Position</th>
            <th>Department</th>
            <th>Hire Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
          </tr>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
          </tr>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
          </tr>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
          </tr>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>  

    <%- include ("scripts") %>
  </body>
</html>