<%- include ("style") %>
<nav role="navigation" class="fixed-top">
  <ul>
    <li class="nav-item active"><a class="navbar-link" href="/">EMS | Massie</a></li>
    <li class="nav-item"><a class="navbar-link" href="/list">Employee List</a></li>
    <li class="nav-item"><a class="navbar-link" href="/new">Add Employee</a></li>
  </ul>
</nav>