<%- include ("style") %>
<nav role="navigation">
  <ul>
    
    <li class="active"><a href="/">EMS | Massie</a></li>
    <li><a href="/list">Employee List</a></li>
    <li><a href="/new">Add Employee</a></li>
</ul>
</nav>