<!--
============================================
; Title:  index.ejs
; Author: Sarah Massie
; Date:   24 August 2020
; Description: Index page
;===========================================
-->

<!--start of program-->
<%- include("header") %>

<div role="main" class="container">
<br><br>

<h2>Welcome to the <%= message %>!</h2>
</div>

<%- include("footer") %>
<!--end of program-->